 body {
            background-image: url("./pic.png");
            background-size: cover;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            text-align: center;
            background-repeat: repeat-x;

            background-repeat: repeat;
        }

        .search-box {
            margin: 20px;
        }

        .search-box input {
            padding: 10px;
            width: 300px;
            border-radius: 5px;
            border: none;
        }

        .search-box button {
            padding: 10px 20px;
            background-color: rgb(239, 16, 16);
            color: rgb(21, 21, 21);
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .movie-grid {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        .movie-card {
            background: rgb(229, 229, 233);
            padding: 10px;
            border-radius: 10px;
            width: 380px;
            height: auto;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.8s ease;
        }
        .movie-card img {
            width: 100%;
            height: 350px;
            border-radius: 10px;
        }

       .movie-card {
        background-color: transparent;
        width: 250px;
        height: 350px;
        perspective: 1000px;
         margin: 20px auto;
       }

      .movie-inner {
       position: relative;
       width: 100%;
       height: 100%;
       transition: transform 0.8s;
       transform-style: preserve-3d;
} 

  .movie-card:hover .movie-inner {
    transform: rotateY(180deg);
   }

.movie-front, .movie-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.movie-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.movie-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-back {
  background-color: #fff;
  color: #000;
  transform: rotateY(180deg);
  padding: 10px;
}
 .loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 30px;
        }
@keyframes spin {
            0% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(180deg);
            }
        }